<!-- add-user.component.html -->

<div class="container">
    
   
    <form (ngSubmit)="onSubmit()" #userForm="ngForm">
        
      <div class="form-group">
        <label for="userName">Username:</label>
        <input type="text" class="form-control" id="userName" name="userName" [(ngModel)]="user.userName" required>
      </div>
      <div class="form-group">
        <label for="userEmail">Email:</label>
        <input type="email" class="form-control" id="userEmail" name="userEmail" [(ngModel)]="user.userEmail" required>
      </div>
      <div class="form-group">
        <label>Role:</label>
        <input type="radio" id="studentRole" name="userRole" [(ngModel)]="user.userRole" value="student">
        <label for="studentRole">Student</label>
        
        <input type="radio" id="teacherRole" name="userRole" [(ngModel)]="user.userRole" value="teacher">
        <label for="teacherRole">Teacher</label>
        
        <input type="radio" id="adminRole" name="userRole" [(ngModel)]="user.userRole" value="admin">
        <label for="adminRole">Admin</label>
    </div>
    
      <div class="form-group">
        <label for="village">Village:</label>
        <input type="text" class="form-control" id="village" name="village" [(ngModel)]="user.village">
      </div>
      <div class="form-group">
        <label for="country">Country:</label>
        <input type="text" class="form-control" id="country" name="country" [(ngModel)]="user.country">
      </div>
      <div class="form-group">
        <label for="state">State:</label>
        <input type="text" class="form-control" id="state" name="state" [(ngModel)]="user.state">
      </div>
      <div class="form-group">
        <label for="district">District:</label>
        <input type="text" class="form-control" id="district" name="district" [(ngModel)]="user.district">
      </div>
      <div class="form-group">
        <label for="pincode">Pincode:</label>
        <input type="number" class="form-control" id="pincode" name="pincode" [(ngModel)]="user.pincode">
      </div>
      <div class="form-group">
        <label for="street">Street:</label>
        <input type="text" class="form-control" id="street" name="street" [(ngModel)]="user.street">
      </div>
      <div class="form-group">
        <label for="landmark">Landmark:</label>
        <input type="text" class="form-control" id="landmark" name="landmark" [(ngModel)]="user.landmark">
      </div>
      <div class="form-group">
        <label for="phnoneNo">Phone Number:</label>
        <input type="tel" class="form-control" id="phnoneNo" name="phnoneNo" [(ngModel)]="user.phoneNo">
      </div>
      <div class="form-group">
        <label for="phnoeNo2">Alternate Phone Number:</label>
        <input type="tel" class="form-control" id="phnoeNo2" name="phnoeNo2" [(ngModel)]="user.phoneNo2">
      </div>
      <button type="submit" class="btn btn-primary" >Add User</button>
    </form>
  </div>
  