<!-- admin-info-student-info.component.html -->

<div class="container">
    <h2 class="mt-4 mb-4">Student Information</h2>
    
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Personal Details</h4>
        <div class="row">
          <div class="col-md-6">
            <ul class="list-group">
                <!-- {{ student.name }} -->
              <li class="list-group-item"><strong>Name:</strong> </li>
              <li class="list-group-item"><strong>Age:</strong> </li>
              <li class="list-group-item"><strong>Phone Number:</strong></li>
              <li class="list-group-item"><strong>Address:</strong></li>
              <!-- Add other personal details here -->
            </ul>
          </div>
          <div class="col-md-6">
            <!-- Add additional information or details here if needed -->
          </div>
        </div>
      </div>
    </div>
  </div>
  