
<div class="container mt-5">
    <div class="row mb-3">
        <div class="col-md-12 text-right">
            <a routerLink="./addEvent" class="btn btn-primary">Add Event</a>
        </div>
        
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Sl No</th>
                <th>Event Name</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Event 1</td>
                <td>2024-04-05</td>
                <td>2024-04-07</td>
                <td>Description of Event 1</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Event 2</td>
                <td>2024-04-10</td>
                <td>2024-04-12</td>
                <td>Description of Event 2</td>
            </tr>
            <!-- Add more rows for other events -->
        </tbody>
    </table>
</div>
