<!-- <form [formGroup]="searchForm" (ngSubmit)="onSubmit()"> -->
  <form>
    <div class="form-row align-items-center">
      <div class="col-auto">
        <label for="classId">Class ID:</label>
        <input type="text" class="form-control" id="classId" formControlName="classId">
      </div>
      <div class="col-auto">
        <label for="presentAbsent">Present/Absent:</label>
        <select class="form-control" id="presentAbsent" formControlName="presentAbsent">
          <option value="present">Present</option>
          <option value="absent">Absent</option>
        </select>
      </div>
      <div class="col-auto">
        <label for="date">Date:</label>
        <input type="date" class="form-control" id="date" formControlName="date">
      </div>
      <div class="col-auto">
        <button type="submit" class="btn btn-primary">Search</button>
      </div>
      <div class="col-auto">
        <!-- <button type="button" class="btn btn-danger" (click)="onGetAbsent()">Get Absent</button> -->
        <button>GetAbsent</button>
      </div>
    </div>
  </form>
  