<!-- add-user.component.html -->

<div class="container">
<!--     
    <form (ngSubmit)="onSubmit()" #userForm="ngForm">
      <div class="form-group">
        <label for="userName">Username:</label>
        <input type="text" class="form-control" id="userName" name="userName" [(ngModel)]="user.userName" required>
      </div>
      <div class="form-group">
        <label for="userEmail">Email:</label>
        <input type="email" class="form-control" id="userEmail" name="userEmail" [(ngModel)]="user.userEmail" required>
      </div>
      <div class="form-group">
        <label for="userRole">Role:</label>
        <input type="text" class="form-control" id="userRole" name="userRole" [(ngModel)]="user.userRole" required>
      </div>
      <div class="form-group">
        <label for="village">Village:</label>
        <input type="text" class="form-control" id="village" name="village" [(ngModel)]="user.village">
      </div>
      <div class="form-group">
        <label for="country">Country:</label>
        <input type="text" class="form-control" id="country" name="country" [(ngModel)]="user.country">
      </div>
      <div class="form-group">
        <label for="state">State:</label>
        <input type="text" class="form-control" id="state" name="state" [(ngModel)]="user.state">
      </div>
      <div class="form-group">
        <label for="district">District:</label>
        <input type="text" class="form-control" id="district" name="district" [(ngModel)]="user.district">
      </div>
      <div class="form-group">
        <label for="pincode">Pincode:</label>
        <input type="number" class="form-control" id="pincode" name="pincode" [(ngModel)]="user.pincode">
      </div>
      <div class="form-group">
        <label for="street">Street:</label>
        <input type="text" class="form-control" id="street" name="street" [(ngModel)]="user.street">
      </div>
      <div class="form-group">
        <label for="landmark">Landmark:</label>
        <input type="text" class="form-control" id="landmark" name="landmark" [(ngModel)]="user.landmark">
      </div>
      <div class="form-group">
        <label for="phnoneNo">Phone Number:</label>
        <input type="tel" class="form-control" id="phnoneNo" name="phnoneNo" [(ngModel)]="user.phnoneNo">
      </div>
      <div class="form-group">
        <label for="phnoeNo2">Alternate Phone Number:</label>
        <input type="tel" class="form-control" id="phnoeNo2" name="phnoeNo2" [(ngModel)]="user.phnoeNo2">
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="userForm.invalid">Add User</button>
    </form> -->
  </div>
  